.button {
  appearance: none;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.button:hover {
  background: white;
  color: black;
}
